#include <input/processors.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

// AML クリックしたときにタイムアウトを延長

&mkp_input_listener { input-processors = <&zip_temp_layer 6 10000>; };

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 7>,
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT &kp S>,
                <&macro_release>,
                <&kp LEFT_WIN &kp LEFT_SHIFT &kp S>;

            label = "SCREENSHOT";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        // Kyemap Editor用

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };

        vol_up_down: vol_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };

        // DYA Studio用

        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_DN>;
            ccw-binding = <&kp C_VOL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                 &kp W         &kp E         &kp R        &kp T                                   &kp Y            &kp U        &kp I        &kp O       &kp P
&kp A                 &kp S         &kp D         &kp F        &kp G                                   &kp H            &kp J        &kp K        &kp L       &lt 4 MINUS
&mt LEFT_SHIFT Z      &kp X         &kp C         &kp V        &kp B                                   &kp N            &kp M        &kp COMMA    &kp PERIOD  &mt RIGHT_SHIFT SLASH
&mt LEFT_CONTROL TAB  &kp LEFT_WIN  &kp LEFT_ALT  &lt 3 SPACE  &lt 2 CAPSLOCK  &lt 1 INT_MUHENKAN      &lt 1 BACKSPACE  &lt 2 ENTER  &lt 3 SPACE  &lt 4 INT1  &mt RCTRL INT_YEN
            >;

            sensor-bindings = <&scroll_up_down>, <&rsr_trans>;
        };

        FUNCTION {
            bindings = <
&kp ESCAPE  &kp F1           &kp F2   &kp F3   &kp F4               &kp DELETE  &kp PG_UP  &kp UP_ARROW  &kp PAGE_DOWN  &kp BACKSPACE
&kp TAB     &kp F5           &kp F6   &kp F7   &kp F8               &kp INS     &kp LEFT   &kp DOWN      &kp RIGHT      &kp ENTER
&kp LSHIFT  &kp F9           &kp F10  &kp F11  &kp F12              &trans      &kp HOME   &trans        &kp END        &kp RIGHT_SHIFT
&kp LCTRL   &kp PRINTSCREEN  &trans   &trans   &trans   &trans      &none       &mo 5      &mo 6         &mo 7          &kp RCTRL
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        NUMSYM {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5              &kp NUMBER_6   &kp N7     &kp N8                &kp N9               &kp N0
&trans        &none         &none         &none         &none               &kp MINUS      &kp CARET  &kp NON_US_BACKSLASH  &kp AT_SIGN          &kp LEFT_BRACKET
&trans        &none         &none         &none         &none               &kp SEMICOLON  &kp COLON  &kp COMMA             &kp PERIOD           &kp RIGHT_BRACKET
&trans        &none         &trans        &trans        &trans  &trans      &trans         &none      &kp RALT              &kp INTERNATIONAL_1  &kp RCTRL
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        MOUSE_BT {
            bindings = <
&studio_unlock  &none         &none         &bt BT_CLR    &bt BT_CLR_ALL              &trans  &trans     &mkp MCLK  &trans     &trans
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &trans  &mkp LCLK  &mo 4      &mkp RCLK  &trans
&trans          &trans        &trans        &trans        &trans                      &trans  &trans     &trans     &trans     &trans
&trans          &trans        &trans        &trans        &trans          &trans      &trans  &trans     &trans     &trans     &trans
            >;

            sensor-bindings = <&scroll_up_down>, <&rsr_trans>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_up_down>, <&rsr_trans>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
    };
};
